@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    background-color: #e4e5e6;
}
.bg-primary{
    background-color: #02275D;
}
.badge-sm{
    background-color: #F86C6B;
}
.footer{
    background-color: #FFFFFF;
}
label > .appname{
    color: #02275D;
}